{% extends "base.html" %}
{% block body %}
<div class="login-box-form-section">
	 <form role="form" action="" method="post" name="movie_edit"
            class="form-horizontal">
        <div class="form-group">
          <label for="title" >Title:</label>
          <div class="">
            <input type="text" name="title" value="{{ request.form.title }}" required autofocus />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" name="save"
                    class="button">Save</button>
          </div>
        </div>
      </form>
</div>
    {% endblock %}