{% extends "base.html" %}
{% block body %}

    <section id="shopping-list">

        <h1 class="header">Shopping List</h1>
        <div class="row">
            <div class="row small-up-1 medium-up-2 large-up-3">
                <div class="column">
                    <div class="callout">
                        <div class="lead-name">
                            <h3>Cereals</h3> </div>
                        <ul>
                            <li>Granola bars</li>
                            <li>Oat cereal, whole grain</li>
                            <li>Low-fat granola</li>
                            <li>Flax seed meal</li>
                            <li>Wheat germ</li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <div class="callout">
                        <div class="lead-name">
                            <h3>Meat and Seafood</h3> </div>
                        <ul>
                            <li>Skinless chicken or turkey breasts</li>
                            <li>Ground turkey or chicken</li>
                            <li>Salmon, halibut, trout</li>
                            <li>Reduced-sodium lunchmeat (turkey, roast beef)</li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <div class="callout">
                        <div class="lead-name">
                            <h3>Pastas</h3> </div>
                        <ul>
                            <li>Whole wheat pasta spirals (fusilli)</li>
                            <li>Whole wheat rigaton</li>
                            <li>Brown rice</li>
                            <li>Whole wheat or whole-grain pasta</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}