* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background: #f9f2f4;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

a {
    color: #191919;
    text-decoration: none;
}


/* start the sign-up and sign-in section */

.login-box {
    width: 40%;
    margin-left: 30%;
    margin-top: 5.5em;
    box-shadow: 0 2px 4px rgba(10, 10, 10, 0.4);
    background: #fefefe;
    border-radius: 0;
    overflow: hidden;
}

.login-box-title {
    text-align: center;
    font-weight: 800;
    font-size: 1.875rem;
    margin-bottom: 1.25rem;
}

.login-box-form-section {
    padding: 2.5rem;
}

.login-box-input {
    margin-bottom: 1.25rem;
    height: 2rem;
    border: 0;
    padding-left: 0;
    box-shadow: none;
    border-bottom: 1px solid #1779ba;
    font-weight: 400;
}

.login-box-input:focus {
    color: #1779ba;
    transition: 0.2s ease-in-out;
    box-shadow: none;
    border: 0;
    border-bottom: 2px solid #1779ba;
}

.login-box-submit-button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #1779ba;
    color: #fefefe;
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    border-radius: 0;
    text-transform: uppercase;
    margin-bottom: 0;
}

.login-box-submit-button:hover,
.login-box-submit-button:focus {
    background-color: #126195;
    color: #fefefe;
}

.login-box-submit-button:hover,
.login-box-submit-button:focus {
    box-shadow: 0 2px 4px rgba(10, 10, 10, 0.4);
}

.login-box-submit-button:active {
    box-shadow: 0 1px 2px rgba(10, 10, 10, 0.4);
}


/*end signup and sign in page */


/* start navigation bar */

.nav {
    background: #ffffff;
    min-height: 3.5em;
}

.nav ul {
    list-style: none;
}

.nav .left {
    float: left;
    margin-left: 1em;
}

.nav .left li {
    border-bottom: 1px solid #f2f2f2;
    font-size: 1em;
    float: left;
}

.nav .left li a {
    display: block;
    padding: 9px 15px;
    line-height: 30px;
}

.nav .left li a:hover {
    background: #f2f2f2;
}

.nav .right {
    float: right;
    margin-right: 1em;
}

.nav .right li {
    border-bottom: 1px solid #f2f2f2;
    font-size: 14px;
    float: left;
}

.nav .right li a {
    display: block;
    padding: 9px 15px;
    line-height: 30px;
}

.nav .right li a:hover {
    background: #f2f2f2;
}

.toggle-nav {
    display: none;
}

.nav-mobile style {
    display: block;
}

@media only screen and (max-width: 640px) {
    .nav {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .toggle-nav {
        display: block;
        padding: 10px;
        position: absolute;
        right: 10px;
        line-height: 30px;
    }
    .toggle-nav:after {
        content: ' Menu';
    }
    .nav-mobile {
        display: none;
    }
    .style-mobile {
        background: #ffffff;
        top: 51px;
        position: absolute;
        width: 100%;
    }
    .style-mobile li {
        display: block;
        width: 100%;
    }
    .nav .right {
        display: block;
        float: none;
        margin: 0em;
    }
    .nav .left {
        display: block;
        float: none;
        margin: 0em;
    }
}

@media only screen and (min-width: 641px) {
    .nav-mobile {
        display: block !important;
    }
}


/* end navigation bar */


/* start shopping list section */

#shopping-list {
    width: auto;
    height: auto;
}

.header {
    text-align: center;
    font-size: 4em;
    font-weight: 700;
    text-transform: capitalize;
    font-style: oblique;
    padding: 0.3em;
    color: darkslategrey;
}

.callout {
    padding: 0;
    height: 20em;
}

.lead-name {
    height: 3em;
    background-color: aliceblue;
    overflow: hidden;
    text-align: center;
}

.lead-name h3 {
    text-transform: capitalize;
    font-size: 2.2em;
    font-weight: 800;
    color: darkgrey;
}

.callout ul {
    padding: 1em;
    text-align: left;
}

.callout li {
    font-size: 1.3em;
    padding: 0.2em 0;
    text-transform: capitalize;
}

@media only screen and (max-width: 640px) {
    .header {
        font-size: 2.5em;
        padding: 0.5em;
    }
    .callout {
        margin: 1em;
        height: auto;
    }
    .lead-name h3 {
        font-size: 1.8em;
    }
    .callout li {
        font-size: 1em;
    }
}

@media only screen and (min-width: 641px) {
    .header {
        font-size: 3em;
        padding: 0.5em;
    }
    .callout {
        margin: 1em;
        height: 17em;
    }
    .lead-name h3 {
        font-size: 2em;
    }
    .callout li {
        font-size: 1.1em;
    }
}


/* end shopping list section */