{% extends "base.html" %}
{% block body %}
<div class="login-box-form-section">
	 <form role="form" action="" method="post" name="movie_edit"
            class="form-horizontal">
        <div class="form-group">
          <label for="title" class="control-label col-sm-2">Title:</label>
          <div class="col-sm-10">
            <input type="text" name="title" required autofocus />
          </div>
        </div>

        <div class="form-group">
          <label for="year" class="control-label col-sm-2">Content:</label>
          <div class="col-sm-10">
            <input type="text" name="title" required autofocus />
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" name="save"
                    class="button">Save</button>
          </div>
        </div>
      </form>
    </div>

    {% endblock %}